.article-container {
    width: 90%;
    display: flex;
    padding: 20px 50px;
    box-sizing: border-box;
    flex-wrap:wrap;
}

.directory {
    width: 300px;
    margin-right: 10px;
}

.article-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.article-content h2 {
    margin: 0;
    margin-top: 10px;
}

.article-content .table{
    color: #000000;
    text-align: center;
    font-weight: 200px;
}
table{
    display: flex;  
    justify-content: center;  
    align-items: center; 
}
.districtName {
    width: 100%;
}
.districtName img{
    width: 100%;
}
.figure{
    color: #ccc;
    text-align: center;
}
/* .districtName figure{
    background: #abdbf9ae;
    padding: 10px 20px;
    color: #1364f0;
    border-radius:15px;

} */
#quation{
    width: 100%;
}
.article-container .directory ul,
.article-container .directory li {
    list-style: none;
}

#category {
    position: sticky;
    top: 58px;
    right: 0;
}

#category li div{
    padding: 6px 30px 6px 25px;
    color: #2d2e2f;
    outline: none;
    text-decoration: none;
    line-height: 30px;
    cursor: pointer;
    font-size: 14px;
}
#category>.article-content{
    margin-left: 100px;
}
#category li{
    /* background: #efefef; */
    border-left:1px solid #efefef;
}

#category a.active div {
    border-left:4px solid #016afc;
    background: #188fff11;
    color: #1890ff;
    /* padding: 0 16px; */
}

.accordion {
    /* width: 800px; */
    /* margin: 90px auto; */
    /* color: blue; */
    /* background-color: white; */
    /* padding: 45px 45px; */
    padding:20px 0px;
}

/*定位*/
.accordion .append_container {
    position: relative;
    margin: 10px 10px;
}

/* 相对于 .append_container 定位标签，在顶部和底部添加填充并增加字体大小，也使 cursor 为 pointer */

.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 20px;
/*     color: blue; */
    cursor: pointer;
}

/* 将加号放置在距离右侧 5px 的位置，使用 transform 属性将其居中 */

.accordion .label::before {
    content: '+';
    color: blue;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
}

/* 隐藏内容（高度：0），减小字体大小，对齐文本并添加过渡 */

.accordion .append_content {
    position: relative;
    background: rgb(18, 8, 8);
    height: 0;
    font-size: 20px;
    text-align: justify;
    /* width: 780px; */
    overflow: hidden;
    transition: 0.5s;
}

/* 在内容之间添加一条水平线 */

.accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}

/* 活动时取消隐藏内容部分。设置高度 */

.accordion .append_container.active .append_content {
    height: 500px;
}

/* 激活后从加号变为负号 */

.accordion .append_container.active .label::before {
    content: '-';
    font-size: 30px;
}

.des{
    display: flex;
    flex-wrap: wrap;
}
.des div{
    width: 50%!important;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.des p{
    width: 50%!important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des div img{
    margin: 0 auto;
}

.result_shui{
    width: 100%;
}
.result{
    display: flex;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shui{
    width: 15%;
    margin: 0 10px;
    animation: floatup 1.5s ease-in-out infinite;
}
.shui:hover .shuiwen div p{
    cursor: pointer;
    animation: none;
    transform: scale(1.6);
    transition: 0.2s ease-in;
}
.shui:hover img{
    transform: scale(1.2);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.shui img{
    width: 100%;
    /* transform: scale(0.8); */
    z-index: -1;  
}
.shuiwen{
    width: 100%;
    position: absolute;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.shuiwen>p{
    margin-top: -15px;
    font-size: 14px;
    font-weight: bolder;
}
.shuiwen>p:nth-child(1){
    
    font-size: 18px;
    margin-bottom: -5px;
}
.shuiwen div p{
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    transform: scale(1.4);
    margin-top: 20px;
    margin-bottom: 25px;
}
@keyframes floatup {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(10px);
    }
}
.shui .kong{
    height:100px;
}
