body,ul,li,a{
    margin: 0px;
    padding: 0px;
    list-style:none;
    text-decoration: none;				
}/*取消所有表格的格式*/
body{
    background-color: #ffffff;
    scroll-behavior: smooth;
    scroll-padding-top: 90px;/*防止导航栏覆盖*/
}
/* .articlebox{
    position: absolute;
    flex-direction: column;
} */
.banner{
    margin-top: -120px;
}
.banner img{
    width: 100%;
    background-size: cover;/*应该是覆盖整个容器*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-size: cover;
}

.content{
    /* position: relative; */
	width: 80%;
	margin: 0px auto;
	/* display: flex; */
	justify-content: space-evenly;
    margin-right: auto;
    /* margin-top: 50px; */
	/* height: 1250px; */
	/* margin-top: -35vh; *//*这句话搞的鬼，让整个元素锁定位置了*/
    /*margin-bottom: 85px; */
	/* background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(5px); */
}

.content_left{
    /* position: -webkit-sticky; */
    position: sticky;
    margin-top: 30px;
    /* margin: 0px;
    padding: 10px; */
    /* top: vh; */
    flex: 0 0 auto;
    height: 100vh;
    float:left;
    width: 20%;

    /* padding:10px 0; */
    /* margin: 16px 0px!important; */

}
.stickybar{
    box-sizing: border-box;
    position: sticky;
    margin: 0px;
    padding: 10px;
    top: 400px;
    width: 205px;/*TODO: */
}
.stickybar a {
    color: var(--darkBlue);
    text-decoration: none;
    font-family: 'hammersmith_oneregular';
    font-size: 1.2rem;
  }
  
.stickybar a:hover {
    text-decoration: underline;
}

.stickybar a:active {
    text-decoration: underline;
}
u{
    border-color: rgb(0, 166, 255);
}
  
/* .content_left{
    position: sticky;
    /* margin: 0px;
    padding: 10px; 
    top: 200px;
} */
/* .sticky-div {
    position: sticky;
    top: 1000px;
} */
.content_right{
    /* margin-top: -25px; */
    width: 80%;
    margin-left: 20px;
    margin-left: auto;
    /* float: right; */
    /* margin-top: -285px; */
}
/* #content_left{
    position: relative;
}
#list{
    position: fixed;
    top: 250px; /* 想要固定的位置，这里设为100px 
} */
#list>ul>li>a{
    line-height:1.8em;
	font-size: 1.4em;
}
.content_main>h2{
    line-height:2.2em;
	font-size: 1.8em;
}
.content_main>p{
    line-height:1.8em;
	font-size: 1.4em;
	/* padding:10px 0; */
	/* left: -20px; */
	/* css注释： 设置行高为50px */ 	
}
.content_left.sticky {
    position: fixed;
    top: 100px;
    width: 205px;/*ODO:*/
    /* width: var(16.7%*90%*(innerWidth)); */
}
.article{
	flex: 0 0 auto;/*解决高度变形问题*/
	/* width: 950px; */
	overflow-y: none;
	/* margin-left: 20px; */
}
.post-title>p{
    font-size: 2.8em;
    line-height:3em;
    /* margin-left: 20px; */
}

/*pad端*/
/* @media screen and (max-width:960px) and (min-width:750px){
    .banner>img{
        transform: scale(1)!important;
    }
    .content{
        width: 100%;
    }
} */
@media screen and (max-width:960px){
    .banner>img{
        transform: scale(1)!important;
    }
    .content{
        width: 100%;
    }
    .content h2{
        margin: 0;
    }
}