html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body{
    background-color: #ffffff;
}
/*头部样式*/
header{
    width: 100%;
}

/*进度条*/
.top-progress-block{
    width: 100%;
    height: 8px;
}
.top-progress{
    position: fixed;
    top: 0;
    left: 0;
    height: 8px;
    background:linear-gradient(
        to left,
        #009fd9, 
        rgb(174, 238, 236)
    );
    z-index: 1000;
}
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    z-index: 100000;
    padding: 10px 0px;
}
nav.sticky {
    position: fixed;
    background-color: white;
    box-shadow: 0px  5px 5px #ccc;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    animation: dropDown 0.5s ease-in-out forwards;
}
nav.sticky>div>ul>li>a,
nav.sticky>div>ul>li>div>ul>li{
    color: black;
}
/* 固定导航下滑动画 */
@keyframes dropDown {
	from {
		transform: translateY(-100px);
	}

	to {
		transform: translateY(0);
	}
}

.top_logo{
    flex-grow: 1;
}
.top_logo>img{
    height: 90px;
    z-index: 5;
    position: relative;
    margin-left: 16vh;
    transform: scale(0.8);
}
.top_center{
    flex-grow: 8;
}
.top_center>ul{
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 10%;
    transition:all .4s ease-in-out;
    
}
.top_center>ul>li{
    float: left;
    position:relative;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 135px;
    padding: 10px 0;
    
}
.top_center>ul>li>a{
    color: rgb(0, 0, 0);
    font-family: "Microsoft YaHei";
    font-weight:bolder;
    /* padding: 10px; */
    /* transition:all 1s ease-in-out; */
    font-size: 14px;
    width:100%;
    margin: 2px auto;
    display: block;
}

@keyframes bounce {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-5px);
	}
}
a:hover{
    animation: bounce 0.2s ease-in-out;
}


#arrows{
    height: 12px;
    line-height: 25px;
    text-align: center;
}
.top_center>ul>li:hover>a>img{ /*通过改变hover的层级控制*/
    transform: rotate(45deg);
}

.top_center>ul>li:nth-child(1):hover,.top_center>ul>li:nth-child(4):hover,.top_center>ul>li:nth-child(5):hover{
    animation: bounce 0.2s ease-in-out;
}
.top_center>ul>li>div{
    display: none;
    /*border: 2px solid red;*/
    position:absolute;/*固定位置，防止挤掉上面的*/
    width: 150px;
    background-color: #ffffff4e;
    margin-top: 8px;
    margin-bottom: 5px;
    opacity:0;
    transition:all 0.3s ease-in-out;
    /* padding-top: 10px; */
}
.top_center>ul>li:hover>div{
    /*border: 1px solid red;*/
    transition: all .5s;
    transition-delay: 2s;
    display: block;
    z-index: 1;/*显示在最上层*/
    opacity:1;
    transition: all 0.2s ease-in-out;
     
}


.dropdown-content{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.525);
	backdrop-filter: blur(5px);
    transition:all 1s ease-in-out;
    
    /* left:45px; */
}

.top_center>ul>li>div>ul>li{

    text-align: center;/*水平居中*/
    line-height: 40px;
    height: 40px;
    /* width: 80%; */
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding:0px -10px; */
    font-size: 14px;
    /* padding-left: 50px; */
    letter-spacing: normal;
}
.top_center>ul>li>div>ul>li:hover{
    background-color: #00d0ff1c;
    color: #0475df;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin: 5px 5px;    
}

.top_center>ul>li>div>ul>li>a{
    text-decoration: none;
    color: inherit;
}


/*pc端*/
@media screen and (min-width:960px){
    .top{
        min-width:960px;
    }
    .pad{
        display: none;
    }
}

/*pad端*/
@media screen and (max-width:960px) and (min-width:750px){
    .top_center,.top_right{
        display: none;/*隐藏*/
        min-width:700px;
    }
    .pad{
        line-height: 55px;
        height: 55px;
        color: #8492a6;
    }
    /*.pad>div>img{
        padding-top: 10px;
        border: 1px solid red;
    }*/
    .pad>div>div{
        width: 100%;
        margin:0px auto;
        height: 300px;
        background-color: #fff;
        position: absolute;
        left: 0px;
        display: none;
        z-index: 1;/*显示在最上层*/
        
        /*border: 1px solid red;*/
    }
    .pad>div:hover>div{
        display: block;/*先隐藏*//*以后用点击事件*/
    }
    .pad>div>div>ul{
        width: 60%;
        margin:0px auto;
        /*border: 1px solid red;*/
    }
    .nav{
        min-width:700px;
    }
    .nav>ul{
        flex-wrap:wrap;
    }
    #start{
        margin-left: 15px;
        
    }
    #content{
        height: 980px;
        
    }
    .content{
        min-width: 250px;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        border: 1px solid aqua;
        margin-bottom: 0px;
        
    }
    .content>div{
        /* width: 45%; */
        margin-bottom: 20px;
        /* height: 230px; */
        flex: 0 0 auto;
    }
    .content_left{
        min-width: 100%;
        width: 90%;
        margin: 16px 0px!important;
    }
    .content_right{
        min-width: 100%;
        width: 90%;
    }
    .bottom{
        height: 220px;
    }
    .bottom_left>img{
        margin-top: -25px;
    }
    .bottom_left>p{
        margin-top:30px;
    }
}
/*移动端*/
@media screen and (max-width:750px){
    .top_center,.top_right{
        display: none;/*隐藏*/
    }
    .pad{
        display: block;
        line-height: 55px;
        height: 55px;
        color: #8492a6;
    }
    .pad>div>div{
        width: 100%;
        margin:0px auto;
        height: 300px;
        background-color: #fff;
        position: absolute;
        left: 0px;
        z-index: 1;
        display: none;/*先隐藏*/
    }
    .pad>div:hover>div{
        display: block;/*以后用点击事件*/
    }
    .pad>div>div>ul{
        width: 60%;
        margin:0px auto;
        /*border: 1px solid red;*/
    }
    nav{/*ps:nav没有·*/
        min-width:200px;
        height: 115px;
    }
    nav>ul{
        flex-wrap:wrap;
        margin-left: 5px;
    }
    nav>ul>li{/*缩到最小时的临界*/
        width: 25%;
        padding: 8px 0px;
        text-align: center;
    }
    #start{
        padding: 8px 0px;
        margin-left: 8px;
        margin-top: 3px;
    }
    #content{
        height: 1900px;
        
    }
    .content{
        /*min-width: 250px;*/
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid aqua;
        margin-bottom: 0px;
        
    }
    .content>div{
        min-width: 100%;
        width: 90%;
        /* height: 220px; */
        flex: 0 0 auto;
        margin-bottom: 20px;
        
    }

    footer{
        height: 645px;
    }
    .bottom{
        flex-wrap:wrap;
        height: 620px;
    }
    .bottom_left>img{
        margin-top: -20px;
    }
    .bottom_left>p{
        margin-top:18px
    }
    
}
  
    100% {
      transform: scaleY(1)
    }
  
  } */
