HEAD body {
    padding-top: 56px;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #7952b3;
}

:root {
    --darkgreen: #139B69;
    --greenimpact: #2BB673;
    --yellow: #F7B32B;
    --blue: #445E93;
    --darkblue: #283D5B;
    --lightblue: #475B78;
    --timelineblue: #425f92;
    --lightgreen: #78B579;
    /* Height of a single gantt chart bar */
    --bar-height: 60px;
}

body {
    padding-top: 56px;
    overflow-x: hidden;
}

.disable-scroll{
    overflow-y: hidden;
}

.left-aligned {
    margin-left: auto;
}

.bg-dark {
    background-color: #343a40 !important;
}

.bg-hero {
    background-color: #7952b3;
}

/* CALLOUT */
.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem
}

.bd-callout h4 {
    margin-bottom: .25rem
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-danger {
    border-left-color: #d9534f
}

/* footer */
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: underline;
}

.footer-custom{
    background-color: #1b263b;

}

.body {
    padding: 0;
}

p,
h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.layout p{
    text-align: justify;
    text-justify:inter-word;
}

#leadtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    /*line-height: 167px;*/
    font-family: 'Lato', sans-serif;
    font-size: clamp(32px, 125px, 6vw);
}

#title-education {
    font-style: normal;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    font-size: clamp(64px, 300px, 6vw)
}

.headerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0 0;
}

.background-image-header {
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 0;
    filter: brightness(0.5);
}

.header-contribution{
    top:-50%;
}

.lead_div {
    position: relative;
}

.capital {
    font-size: 1.5em;
    color: var(--yellow);
    font-size: clamp(64px, 300px, 9vw)
}

.capital-green {
    font-size: 1.5em;
    color: var(--darkgreen);
    font-size: clamp(64px, 300px, 9vw)
}

.capital-education {
    color: var(--yellow);
    font-size: clamp(64px, 300px, 6vw)
}

.brick-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.brick-image-home{
    width:100%;
}

.brick-container-home{
    width:10%;
    z-index:10;
    position:absolute;
    align-items:center;
    display: flex;
    margin: 5px;
    flex-direction: column;
}

.container-custom {
    padding: 0 0;
}

.model-c-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashedline {
    width: 100%;
    margin: -15% 0 0 0;

}

.backgroundcurves {
    width: 100%;
    margin: 0 -1px -1px -1px;
}

.mainbody {
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashedline-rotated {
    width: 100%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.cropped {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: -20% 0 0 0;
    position: relative;
}

.blueblock {
    width: 100%;
    background-color: var(--darkblue);
    color: white;
    display: flex;
    flex-direction: column;
    border: none;
    margin: -1px 0;
}
.two-col{
    column-count:2;
    column-gap: 40px;
}

.quote {
    display: flex;
    justify-content: center;
    margin: 100px 2em 50px 2em;
}

.quote-collab {
    display: flex;
    justify-content: center;
    margin: 50px 2em 50px 2em;
}

.view-article-button{
    background-color: var(--darkgreen);
    color:white;
    border:none;
    padding: 5px 25px;
    border-radius: 10px 10px;

}

.container-double {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%
}

.container-full {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 50px 0 50px 0;
}

.text-withbar {
    display: flex;
    flex-direction: row;
}

.paragraph {
    width: 80%;
    text-align: justify;
    margin: 2vw;
}

.container-right {
    width: 50%
}

.image-small {
    height: 40%;
    width: 40%;
    margin: 1vw;
}

.bar {
    width: 10px;
    height: auto;
    background-color: var(--yellow);
    padding: 30px 0 30px 0;
}

.bar-green {
    width: 10px;
    height: auto;
    background-color: var(--darkgreen);
    padding: 30px 0 30px 0;
}

.buttons {
    font-size: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vw 10vw 5vw 10vw;
    z-index: 100;
}

.c-button {
    transform: rotate(180deg);
    transition: transform .3s ease-in-out;
    height: 135px;
    cursor: pointer;

}

.button-text {
    margin-top: -100px;
    margin-left: 50px;
    width: auto;
    max-width: 0%;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 0.1s linear;
    transition-delay: 0s;
}

.c-button:hover+.button-text {
    max-width: 100%;
    transition-duration: 1s;
    transition-delay: 0.2s;
}

.c-button:hover {
    transform: rotate(0deg);

}

.lower-curve {
    position: relative;
    width: 100%;
    z-index: 5;
}

.background-image {
    width: 100%;
    margin-top: -43%;
}

.curved-image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.dashedlines-image-white {
    margin-top: -45%;
    z-index: 10;
}

.dashedlines-image-yellow {
    margin-top: -37%;
    z-index: 10
}

.cropped-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: -27% 0 0 0;
}

.backgroundcurves-image {
    width: 110%;
    margin: 0 -1px -1px -1px;
}

.ppcontainer {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    z-index: 500;
    margin: 0;
    visibility: hidden;
}

.ppcontainer .show {
    visibility: visible;
}

.popup {
    background: var(--darkgreen);
    width: 80%;
    height: auto;
    margin: 150px auto;
    border-radius: 10px;
    padding: 0 15px 15px 15px;
}

.popup .container {
    display: flex;
    flex-direction: column;
    color: white;
    height: 500px;
}

.popup .rightcorner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.popup .rightcorner .exit {
    width: 30px;
    margin: 30px;
    cursor: pointer;
}

.popup .rightcorner .flag {
    width: 30px;
    margin: 0 30px 0 0;
    margin-top: 0
}

.popup .content {
    display: flex;
    flex-direction: column;
}

.popup .information {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
}

.popup .photos {
    background-color: #000000;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    width: 120px;
    margin: 0 auto;
}

.popup h1 {
    font-size: 1.2em;
    text-transform: uppercase;
}

.popup .column.left,
.popup .column.right {
    padding: 30px;
}

.scroll{
    overflow:scroll;
    overflow-x:hidden;
}

.change-scroll{
    max-height:85%;
}

.line {
    width: 500px;
    position: absolute;
    top: 0;
    right: calc(50% - 255px);
}

.sscontainer {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 500;
    margin: 20px 0;
}

.sscontainer .show {
    visibility: visible;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    height: 60px;
    padding: 16px;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
}

/* On hover, add a black background color that is slightly transparent */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #2bb673;
}

.mySlides {
    background-color: white;
    height: auto;
    max-height: 500px;
    max-width: 750px;
    margin: 0px auto;
    animation-name: fade;
    animation-duration: 1.5s;
}

.button-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sscontainer .backbutton {
    color: white;
    background-color: black;
    position: relative;
    top: -130px;
    left: calc(50% - 50px);
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    width: 120px;

}

/* width */
.ppcontainer ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.ppcontainer ::-webkit-scrollbar-track {
    background: #2bb673;
}

/* Handle */
.ppcontainer ::-webkit-scrollbar-thumb {
    background: var(--darkgreen);
}

/* Handle on hover */
.ppcontainer ::-webkit-scrollbar-thumb:hover {
    background: #0e7952;
}

/* Stakeholder indentification map: */

.stakeholder-circles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 7% 0;
}

.stakeholder-circles .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.hover-foreground:hover{
    z-index:100;
}

.stakeholder-circle {
    width: 100%;
    height: 100%;
    color: white;
    margin: 1%;
    border-radius: 50%;
}

.challenges-square{
    width:100%;
    color:white;
    margin:1%;
    border-radius: 10px;
    padding:10px;
    height: 100%
}

.challenges-square .content{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.stakeholder-circle:before {
    content: "";
    float: left;
    padding-top: 100%;

}

.stakeholder-circle .content {
    float: left;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
    padding: 5px 40px 25px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
}

.stakeholder-icon {
    width: 30%;
}

.stakeholdertitle {
    text-transform: uppercase;
    font-weight: bold;
}

.stakeholder-circle .content p {
    line-height: 96%;
}

.stakeholder-circle.one {
    background-color: #f8cc73;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.stakeholder-circle.two {
    background-color: #8596b8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.stakeholder-circle.three {
    background-color: var(--lightgreen);
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.stakeholder-circle.four {
    background-color: #9016a5;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}

.stakeholder-circle.five {
    background-color: #8fbaee;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.stakeholder-circle.six {
    background-color: #ffb170;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.stakeholder-circle.seven {
    background-color: #65bd9d;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.challenges-square.one {
    background-color: #f8cc73;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.challenges-square.two {
    background-color: #8596b8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.challenges-square.three {
    background-color: var(--lightgreen);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.challenges-square.four {
    background-color: #9016a5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.5;
}

.challenges-square.five {
    background-color: #8fbaee;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.challenges-square.six {
    background-color: #ffb170;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.flowchart-container {
    position: relative;
    width: 1400px;
    height: 800px;
    margin: auto;
}

.flowchart-more-wrap {
    position: relative;
    width: 100%;
    height: auto;
}

.flowchart-outer-wrap {
    position: relative;
    width: 100%;
    height: auto;
    overflow: scroll;
}

.flowchart-container .background-flowchart {
    position: relative;
    top: 0;
    right: 0;
}

#legend{
    visibility: visible;
}

.flowchart-container .flow {
    position: absolute;
    width: 70%;
    top: 10px;
    left: 14%;
    visibility: visible;
}

#value-flow-button-container {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 5;
}

.button-selected {
    display: block;
}

.button-unselected {
    display: none;
}

#stakeholder-button-container {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 5;
}

.value-flow-button {
    width: 200px;
    background-color: white;
    color: #2bb673;
    padding: 0;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.value-flow-button .button-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #2bb673;
    margin-right: 20px;
}

.stakeholder-button {
    width: 200px;
    background-color: #2bb673;
    color: white;
    padding: 0;
    border: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.stakeholder-button .button-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    margin-right: 20px;
}

.flowchart-container .legend {
    position: absolute;
    width: 17%;
    top: 2%;
    left: 2%;
}

.stakeholders {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    visibility: hidden;
    font-size: 75%;
}

.stakeholders-darkgreen {
    position: absolute;
    top: 15%;
    left: 23%;
    width: 16%;
    height: 30%;
}

.stakeholders-lightgreen {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 16%;
    height: 35%;
}

.stakeholders-orange {
    position: absolute;
    top: 3%;
    left: 53%;
    width: 17%;
    height: 35%;
}

.stakeholders-purple {
    position: absolute;
    top: 45%;
    left: 18%;
    width: 20%;
    height: 34%;
}

.stakeholders-lightblue {
    position: absolute;
    top: 33%;
    right: 22%;
    width: 12%;
    height: 30%;
}

.stakeholders-darkblue {
    position: absolute;
    top: 62%;
    left: 36%;
    width: 19%;
    height: 35%;
}

.stakeholders-yellow {
    position: absolute;
    top: 60%;
    right: 23%;
    width: 20%;
    height: 34%;
}

.flowchart-popup-container {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    ;
}

.flowchart-popup {
    width: 40%;
    max-height: 80%;
    height:100%;
}

.flowchart-popup-content {
    position: absolute;
    height: auto;
    width: 30%;
    max-width: 70vh;
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    color:#000000;
}


@media (max-width: 1400px){
    .flowchart-popup-content {
        position: absolute;
        height: auto;
        width: 30%;
        max-width: 70vh;
        max-height: 40vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    .special-awards{
        margin:0 0;
    }
}

@media (max-width: 1200px){
    .flowchart-popup {
        width: 40%;
        max-height: 80%;
    }

    .flowchart-popup-content {
        position: absolute;
        height: auto;
        width: 30%;
        max-width: 70vh;
        max-height: 35vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 1000px){
    .flowchart-popup {
        width: 70%;
        max-height: 80%;
    }

    .flowchart-popup-content {
        position: absolute;
        height: auto;
        max-height: 52vw;
        width: 50%;
        max-width: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}


.background-c-image{
    position: absolute;
    z-index:2

}


.flowchart-popup-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flowchart-popup-descriptions {
    display: flex;
    flex-direction: row;
    margin: 2% 0;
}

.flowchart-popup-text-header {
    font-size: x-large;
    font-weight: bold;
    margin: 0 5%;
}

.flowchart-popup-exit {
    position: fixed;
    top: 20%;
    right: 30%;
    width: 40px;
}

.flowchart-popup-exit:hover{
    cursor:pointer;
}

.stakeholders #vasculitis-patient {
    position: absolute;
    top: 50%;
}

.stakeholders #general-public {
    position: absolute;
    top: 20%;
    left: 35%;
}

.stakeholders #doctors {
    position: absolute;
    top: 65%;
    left: 35%;
}

.stakeholders #catherina-hospital {
    position: absolute;
    top: 30%;
    left: 22%;
}

.stakeholders #vig {
    position: absolute;
    top: 60%;
    left: 70%;
}

.stakeholders #who {
    position: absolute;
    top: 30%;
    left: 75%;
}

.stakeholders #greenpeace {
    position: absolute;
    top: 20%;
    left: 25%;
}

.stakeholders #vasculitis-diagnosed-patients {
    position: absolute;
    top: 35%;
}


.stakeholders #ema {
    position: absolute;
    top: 10%;
    left: 55%;
}

.stakeholders #zorginstituut {
    position: absolute;
    top: 70%;
    left: 30%;
}

.stakeholders #rivm {
    position: absolute;
    top: 40%;
    left: -20%;
}

.stakeholders #lessen_kloeke {
    position: absolute;
    top: 32%;
    left: 30%;
}


.stakeholders #ethical-review-board {
    position: absolute;
    top: 45%;
    left: 20%;
}

.stakeholders #rathenau-insitute {
    position: absolute;
    top: 55%;
    left: 10%;
}


.stakeholders #maastricht-umc {
    position: absolute;
    top: 25%;
    left: 40%;
}

.stakeholders #erasmus-mc {
    position: absolute;
    top: 70%;
    left: 60%;
}

.stakeholders #ku-leuven {
    position: absolute;
    top: 75%;
    left: 25%;
}

.stakeholders #umc-utrecht {
    position: absolute;
    top: 5%;
    left: 40%;
}

.stakeholders #bom {
    position: absolute;
    top: 70%;
    left: 30%;
}

.stakeholders #thermofisher {
    position: absolute;
    top: 50%;
    left: 15%;
}

.stakeholders #novartis {
    position: absolute;
    top: 80%;
    left: 40%;
}


.stakeholders #gate {
    position: absolute;
    top: 60%;
    left: 75%;
}

.stakeholders #cimaas {
    position: absolute;
    top: 50%;
    left: 80%;
}


.stakeholders #organon {
    position: absolute;
    top: 60%;
    left: 25%;
}

.stakeholders #tmc {
    position: absolute;
    top: 70%;
    left: 60%;
}

.stakeholders #johnson {
    position: absolute;
    top: 90%;
    left: 25%;
}

.stakeholders #chdr {
    position: absolute;
    top: 40%;
    left: 85%;
}

.stake-holderbutton {
    cursor: pointer;
    transition: 0.3s;
}

.stake-holderbutton:hover {
    scale: 1.3;
}

.stakeholder-logo {
    width: 40%;
}

.stakeholder-name {
    font-size: 22px;
    font-weight: 900;
    padding-left: 20px;
    width: 40%;
}

.flowchart-popup-content .what-banner {
    width: 30px;
    margin: 0 3%;
}

.flowchart-popup-descriptions-flags .what-flags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.flowchart-popup-descriptions-flags {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.sub-titles-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.subtitle-unselected {
    opacity: 0.5;
    cursor: pointer;
    scale: 0.8;
    transition: 0.3s;
}

.subtitle-unselected:hover {
    opacity: 1;
    scale: 1;
}

.selected {
    opacity: 0.5;
    scale: 0.8;
    cursor: pointer;
}

.sub-titles-container .yellow-block {
    background-color: var(--yellow);
    width: 0%;
    height: 10px;
}

.image-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-description{
    font-size:13px;
    margin-bottom: 10px;
}

.container-images .multiple-images-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container-images .image-two {
    width: 50%;
    margin: 10px;
}

.container-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 50px 0 50px 0;
}

#hp_introduction {
    position: relative;

}

.flipped-curve {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 110%;
    margin: 0 -1px -1px -1px;
}

.dashed-line-divider {
    position: absolute;
    top: -60px;
    width: 110%;
    margin: 0 -1px -1px -1px;
}

.flipped{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top:-5%;
}

.dashedline-flipped {
    width: 100%;
    margin: -15% 0 0 0;
    transform: rotate(180deg);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    position: absolute;
    z-index: 100;
}

#model-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #model-table td, #model-table td th {
    border: 1px solid black;
    padding: 8px;
  }
  
.carousel-awardpage{
    max-width: 60%;
    min-height: 550px;
}

.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
  #model-table tr:nth-child(even){background-color: #f2f2f2;}
  
  #model-table tr:hover {background-color: #ddd;}
  
  #model-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #283d5b;
    color: white;
  }

.end-blueblock {
    position: relative;
}

.cropped-flipped {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
    position: relative;
}

#part-overview-table {
    width: 100%;
    color: white;
}

#part-overview-table tr:nth-child(even) {
    background-color: #1b263b;
}

#part-overview-table tr:nth-child(odd) {
    background-color: #121c2e;
}

#part-overview-table tr:hover {
    background-color: #101622;
}

#part-overview-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #101622;
    color: white;
}

.center-title {
    text-align: center;
}

#part_overview_div {
    display: block;
}

#basic_parts_div {
    display: none;
}

#composite_part_div {
    display: none;
}

#silver_hp_div {
    display: none;
}

.content-layout {
    display: grid;
    grid-template-columns: 1fr;
}

#integrated_hp_div {
    display: none;
}

#safety_div {
    display: none;
}

.timeline-card {
    background-color: var(--darkgreen);
}

.timeline .cutoff-text-hp{
    font-size:small;
}

.flag-content {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    padding: 1em 18%;
    display: flex;
    width: 100%;
    height: 75%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    font-size:small;
}

.timeline-flag {
    position: relative;
}

.name, .organization, .tldate{
    font-size: 15px;
}

/* begin code for the general accordion
/* Style the buttons that are used to open and close the accordion panel */
.accordionblue {
    background-color: var(--lightblue);
    color: white;
    cursor: pointer;
    padding: 15px 20px;

    text-align: justify;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
    border-radius: 10px/10px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accordionwhite {
    background-color: FBFBFB;
    color: black;
    cursor: pointer;
    padding: 15px 20px;

    text-align: justify;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Lato', sans-serif;
    border-radius: 10px/10px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
.active,
.accordionblue:hover {
    background-color: var(--yellow);
}
*/

/* Style the accordion panel. Note: hidden by default */
.panelblue,
.body {
    padding: 0 18px;
    background-color: #1F2F46;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    border-left: 4px solid var(--yellow);
    margin-bottom: 10px;

}


.panelwhite,
.body {
    padding: 0 18px;
    background-color: #E6E6E6;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    border-left: 4px solid var(--yellow);
    margin-bottom: 10px;
}

.panelwhite-references,
.body {
    padding: 0 0;
    background-color: #E6E6E6;
    color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    margin-bottom: 10px;
}

.accordion-header {
    color: var(--yellow);
    font-family: 'Lato', sans-serif;
}

.arrow-circle {
    width: 30px;
    height: 30px;
    background-color: #283D5B;
    border-radius: 50%;
    text-align: center;
}

.arrow-circle-home {
    width: 30px;
    height: 30px;
    background-color: var(--lightgreen);
    border-radius: 50%;
    text-align: center;
}


.white-arrow-circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

    
.arrow-circle:after {
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .white-arrow-circle:after {
    content: "";
    border: solid #6B6B6B;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .active .arrow-circle:after {
    content: ""; /* Unicode character for "minus" sign (-) */
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-circle-home:after {
    content: "";
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .active .arrow-circle-home:after {
    content: ""; /* Unicode character for "minus" sign (-) */
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-circle-home-wrap {
    display: flex;
    justify-content: center;
    padding: 3px 0 100px 0;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.project-circle {
    width:80%;
    transition: 0.3s;
    cursor: pointer;
}

.project-circle:hover {
    scale:1.2;
  }

.goals-texts{
    position: relative;
    left: -10%;
}

.hover-goals{
    transition: 0.2s;
    cursor: pointer;
}

.hover-goals:hover{
    scale: 1.2;
}


/* Stylin the project description popup */ 
#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    z-index: 10;
    margin: 0;
}

.project-popup{
    background: var(--darkgreen);
    border-radius: 10px/10px;
    padding:2em;
    z-index: 200;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    margin: 0;
    max-width: 600px;
    width: 80%;
    max-height: 480px;
    height: auto;
    color:white;
}

.blue-popup{
    background-color: #647ca6;
    width: 90%;
    max-width:900px;
}

.project-popup-content{
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.popupclose {
    float: right;
    cursor: pointer;
}

/* width */
.project-popup ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.project-popup::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0.0);
}

/* Handle */
.project-popup ::-webkit-scrollbar-thumb {
    background: #0f704b;
}

/* Handle on hover */
.project-popup ::-webkit-scrollbar-thumb:hover {
    background: #0e7952;
}




/* width */
.blue-popup ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.blue-popup::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0.0);
}

/* Handle */
.blue-popup ::-webkit-scrollbar-thumb {
    background: #425f92;
}

/* Handle on hover */
.blue-popup ::-webkit-scrollbar-thumb:hover {
    background: #233a61;
}


/* Style for index left of the page */

.index {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5% 0%;
    height: 100%;
}


.index-items {
    position: sticky;
    z-index: 100;
    background-color: var(--darkgreen);
    top: 6rem;
    padding: 1em;
    margin: 1em;
    display: flex;
    border-radius: 5px/5px;
    flex-direction: column;
}

.index-content {
    border-bottom: 2px solid white;
    margin-top: 10px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
}

.index-content p {
    scale: 0.8;
    opacity: 0.8;
    font-size: large;
    transition: 0.3s;
}

.index-content p:hover {
    opacity: 1;
    scale: 1;
}

.blockquote-custom {
    position: relative;
    font-size: 1rem;
    background-color: #121c2e;
    border-radius: 15%;
    box-shadow: 12px 12px 13px 0px rgb(0 0 0 / 35%);
    border-style: dashed;
    border-width: 3px;
    border-color: var(--yellow);

}

.blockquote-custom-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    left: 20px;
}

.quote-container {
    position: relative;
}

.quotes {
    position: relative;
}

.ecoli-background {
    width: 20em;
    position: absolute;
    z-index: 1;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flip-card:focus {
    outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px/40px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: justify;
    padding: 21px;
}

.flip-card-front {
    color: black;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sponsor-image-home{
    max-width:100%;
}

.sepertation-line-sponsors{
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 30px 0 60px 0;
}

.c-homepage-image{
    max-width: 15%;
    max-height: 15%;
    position: relative;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);

}

.c-homepage{
    position:relative;
}

.flip-card-back {
    color: black;
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sponsor-image {
    width: 100%;
}

.link{
    font-weight: bold;
    color: var(--yellow);
    text-decoration: underline;
}
.bold {
    font-weight: bold;
    color: var(--yellow);
    text-decoration: none;
}

.link:hover {
    color: var(--lightgreen);
    cursor:pointer;
}

.gantt_wrap {
    height: fit-content;
    overflow-x: auto;
    border: 1px solid black;
    margin: 10px;
    width: 70%;
}

.gantt_wrap ul {
    list-style: none;
    padding: 0;
}

.gantt_dates {
    position: relative;
    display: flex;
    margin-bottom: 15px;
    left: 0px;
    min-width: 800px;
}

.gantt_dates li {
    flex: 1;
    text-align: center;
    position: relative;
    min-width: 45px;
}

.gantt_dates li:not(:last-child) {
    position: relative;
}

.gantt_dates li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;

    /* Height of the border independent of amount of tasks */
    --dates-border-height: 39px;

    /* Amount of tasks to adjust height accordingly */
    --nr-of-tasks: 8;

    height: calc(var(--dates-border-height) + var(--nr-of-tasks) * var(--bar-height));
    border-right: 1px solid lightgrey;
}

.gantt_tasks li {
    position: relative;
    color: black;
    margin: 25px 0;
    border-radius: 25px;
    height: 35px;
    background-color: #26a367;
    transition: 0.3s;
}

.gantt_tasks li:hover {
    color: white;
    background-color: #000000;
    cursor:pointer;
    scale: 1.1;
}



#chart_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gantt_text {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

#upper_text {
    height: 29px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.gantt_bar {
    white-space: nowrap;
    height: calc(var(--bar-height) - 10px);
    margin-bottom:10px;
    overflow-x: auto;
}

.greenlist-item{
    background-color: var(--darkgreen);
}

.lightgreenlist-item{
    background-color: var(--lightgreen);
}

.lightbluelist-item{
    background-color: var(--lightblue);
}

@media (max-width: 800px) {
    #upper_text {
        height: 29px;
        margin-bottom: 5px;
        overflow: hidden;
    }
    
    .brick-container-home {
        width: 100%;
        flex-direction: row;
    }
    
    .brick-image-home{
        width:55px;
    }
    
    .carousel-awardpage{
        max-width: 100%;
        min-height: 300px;
    }
}

.layout {
    display: grid;
    grid-template-columns: 1fr;
}

.index_div {
    margin: 0 -1px 0 0px;
    width: 20%;
    position: absolute;
    color: white;
    height: 88%;
}

.image-tofull {
    width: 50%
}

.image-tofull-overview{
    width:45%;
}

#background-reference{
    position: absolute;
    top: -100px;
}

.references{
    text-decoration: none;
    color: inherit;
}

.references:hover{
    color: var(--yellow);
}

.circle-text{
    text-align: center;
    font-weight: bold;
}

.circle-text-d{
    text-align: center;
    font-weight: normal;
    font-size:large;
}

.lab_div{
    display: block;
}

#education_div{
    display:none;
}

.education-header{
    width: 80%;
}

#Overview__model_div{
    display:block;
}

#Methods_div{
    display: none;
}

#Results_div{
    display:none;
}

#social_media_div{
    display: block;
}

#presentations_div, #publications_div, #education_div, #contests_div, #events_div{
    display:none;
}

#hp_div{
    display: block;
}

#poc_lab_div{
    display:none;
}

#customer_div{
    display: block;
}

#product_div{
    display:none;
}

#company_div{
    display: none;
}

#business_plan_div{
    display:none;
}

#results_overview_div{
    display: block
}

#R1_div, #R2_div, #R3_div, #EO_div{
    display: none;
}

.button-education{
    transition: 0.5s;
    z-index:2;
    opacity:0.6;
    width:65%;
}

.button-education:hover{
    scale: 1.3;
    cursor:pointer;
}

#primary_schools, #university, #public{
    display:none;
}

#high_school{
    display:block;
}

.button_edu_selected{
    scale:1.3;
    opacity:1;
}

.button_edu_unselected{
    opacity:0.6;
}

.padding_notebook{
    padding:0 35px;
}

.week_notebook{
    min-width:14%;
}

.home-aav {
    margin-top: -25px;
}

.treatment-point{
    display: flex;
    margin: 30px 0;

}

.treatment-image-left{
    width: 10%;
    margin-right: 10px; 
}

.treatment-image-right{
    width: 10%;
    margin-left: 10px; 
}

.aav-image{
    width: 85%;
}


.home-treatment {
    margin-top: -175px;
}

.home-solution {
    margin-top: -150px;
}

.home-test-img {
    width: 80%;
    height: 150px;
    background-color: grey;
}

.selling-points{
    display:flex;
}

.selling-points-image{
    padding-right: 35px;
}

.home-selling-points{
    margin-top: -175px;
}
    
.sociallogos{
    display:flex;
    direction:row;
    justify-content: center;
}

.social-icon{
    padding:4px;
}

.education-bottom-header{
    margin-top: -250px;
}








:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #0288d1;
    --gray: #ebebeb;
    --box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);
    --lightgreen: #2bb673;
    --darkgreen: #139B69;
}

:focus {
    outline: 0px solid transparent !important;
}

.timeline {
    padding: 50px 0;
    position: relative;
}

.timeline-nodes {
    padding-bottom: 25px;
    position: relative;
}

.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}

/* The dashed line */
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed black;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1;
}

.home-timeline-container .timeline::before {
    visibility: hidden;
}

.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: left;
}

.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}

.hp_div_timeline .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 20px solid var(--darkgreen);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.hp_div_timeline .timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 20px solid var(--darkgreen);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.personals {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3em;
}

.personals-right p {
    text-align: right;
}

.personals-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-evenly;
    font-size: 1.3em;
}

.timeline .flags {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    z-index: 1;
    justify-content: flex-end;
}

.timeline .flags-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80%;
    z-index: 1;
    justify-content: flex-start;
}

.timeline .flag {
    width: 40px;
    position: relative;
}

.timeline .information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
    padding-right: 0;
    padding-left: 0;
}

.timelineblock {
    background-color: var(--darkgreen);
    padding: 0px 40px 20px 40px;
    color: white;
    border-radius: 15px;
    width: 100%;
    position: relative;
    box-shadow: 0 3px 6px rgb(0 0 0 / 40%);
    /* display: grid; */
    grid-template-rows: 2fr 4fr 2fr 1fr;
    grid-auto-rows: auto;
}

.blue-timelineblock{
    background-color: var(--timelineblue);
    z-index: 200;
}

.readmore {
    background-color: #000000;
    justify-self: center;
    align-self: center;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    border: none;
}

.readmore-greenimpact {
    background-color: var(--greenimpact);
    justify-self: center;
    align-self: center;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    border: none;
}

.cutoff-text-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cutoff-text {
    width: 100%;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cutoff-text-hp {
    width: 100%;
    max-width: 100%;

}


.milestone-image {
    z-index: 2;
    width: 100%;

}

.numbered-milestone {
    position: relative;
    color: white;
    font-weight: bold;
    top: -50%;
    right: -45%;
}

.milestone-line {
    width: 100%;
    height: 100%;
    position: relative;
    top: -60%;
}

.milestone-line-left {
    width: 100%;
    height: 100%;
    position: relative;
    top: -60%;
    transform: scaleX(-1);
}

.reflection-circle-title {
    font-size: 3vh;
    position: relative;
    top: -30%;
}

.readmore-button-milestone {
    background-color: #000000;
    justify-self: center;
    align-self: center;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
    padding: 2px 15px 2px 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    border: none;
    position: relative;
    top: -115%;
    right: -30%;
    transition: 0.3s;
}

.readmore-button-milestone:hover {
    scale: 1.2;
}


.home-timeline {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.home-left-col {
    margin-left: 20px;
}

.home-right-col {
    margin-right: 20px;
}

.home-middle-col {
    display: flex;
    justify-content: center;
    height:53%;
    left:50%;
    position: absolute;
}

.scroll-container {
    width: 15px;
    height: 100%;
    border-radius: 10px;
    background: grey;
}

.scroll-tracker {
    width: 15px;
    height: 0;
    border-radius: 10px;
    background: var(--lightgreen);
}


/* width */
.milestone-container ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.milestone-container ::-webkit-scrollbar-track {
    background-color: rgba(255, 0, 0, 0.0);
}

/* Handle */
.milestone-container ::-webkit-scrollbar-thumb {
    background: var(--darkgreen);
}

/* Handle on hover */
.milestone-container ::-webkit-scrollbar-thumb:hover {
    background: #0e7952;
}


/*
.timeline-milestone-popup-div{
    width: 100%;
}
*/

.parts_table{
    font-family: 'Lato', sans-serif;
    border-collapse: collapse;
    font-size: 13px;
    width: 100%;
}

.parts_table td,
.parts_table th {
    border: 1px solid #ffd98e;
    text-align: left;
    padding: 8px;
}

.parts_table tr:nth-child(even) {
        background-color: #475B78;
}
.card-custom{
    color:black;
}



.card-test .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.card-test .pt-5 {
    padding-top: 3rem !important;
}
.card-test .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.card-test .border-0 {
    border: 0 !important;
}
.card-test .position-relative {
    position: relative !important;
}
.card-test .shadow-lg {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.card-test .card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}

.card-test .member-profile {
    top: -70px;
    left: 0;
}
.card-test .text-center {
    text-align: center !important;
}
.card-test .w-100 {
    width: 100% !important;
}
.card-test .position-absolute {
    position: absolute !important;
}

.card-test .member-profile img {
    width: 140px;
    height: 140px;
}
.card-test .rounded-circle {
    border-radius: 50% !important;
}
.card-test .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.card-test .shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.card-test{
    background-color:#1b263b;
    min-height: 400px;
}

.member-name{
    color: var(--yellow)
}
.linkedIn-image{
    width: 18%;
    padding: 3%;
}

.reveal-circle {
    position: relative;
    opacity: 0;
  }
  .reveal-circle.active {
    opacity: 1;
  }

  .reveal {
    position: relative;
    opacity: 0;
  }
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-top {
    animation: fade-top 1s ease-in forwards;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in ;
  }

  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  #delay-1 {
    animation-delay: 1s;
  }

.mile-stone-popup {
    width: 45%;
    margin: auto 0;
}

.milestone-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
}

.milestone-content {
    position: relative;
    width: 100%;
}

.outline {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.milestone-content-container{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 40%;
}

.test-blue {
    background-color: var(--darkblue);
    position: absolute;
    width: 100%;
    height: 100%;
}

.stakeholder-circle p{
    text-align: center;
}

/* Award page */
.award-title-container{
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
}


.title-line{
    background-color: white;
    width:100%;
    height:5px;
    position: absolute;
    top: 50%;
}

.title-line-white{
    background-color:black;
    width:100%;
    height:5px;
    position: absolute;
    top: 50%;
}

.award-title{
    font-size: 300%;
    background: var(--darkblue);
}

.award-title-white{
    font-size: 300%;
    background: white;
}

.award-title-center{
    background-color: var(--darkblue);
    z-index: 10;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-title-center-white{
    background-color: white;
    z-index: 10;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-year-container{
    display: flex;
    justify-content: center;
    letter-spacing: 37%;
    z-index:10;
}

.publication-logo{
    transition: transform .2s;
}

.publication-logo:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}


.special-awards{
    margin:0 350px;
}

.special-award-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: -30px
}

.special-award-name{
    font-size: 21px;
}

.logo-container .tooltiptext {
    visibility: hidden;
    background-color: var(--darkblue);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;

    left: 50%;
}
  
  .logo-container:hover .tooltiptext {
    visibility: visible;
  }
/* End award page */


@media (max-width:1200px) {
    .container-custom {
        padding: 5%;
    }

    .milestone-content-container{
        width: 305px;
        height: 305px;
    }
}

@media (max-width: 1350px){
    .popup .container {
        height: 450px;
    }

    .change-scroll{
        max-height:75%;
    }
    
    .special-awards{
        margin:0 0;
    }
    
}



@media (max-width: 1000px) {
    .container-images .multiple-images-container {
        flex-direction: column;
    }

    .container-images .image-two {
        width: 100%
    }

    .milestone-content-container{
        width: 260px;
        height: 260px;
    }

    .image-tofull-overview{
        width:100%;
    }
}


@media (max-width: 800px) {

    .popup .header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
    }

    .popup .scroll {
        max-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x:hidden;
    }

    .popup .image {
        width: 60%;
        object-fit: contain;
    }

    .popup .header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    .popup .scroll {
        max-height: 400px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x:hidden;
    }

    .popup .image {
        width: 120px;
        object-fit: contain;
    }

    .image-tofull {
        width: 100%
    }

  

}

/*small device style*/

@media (max-width: 767px) {

    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
        text-align: left
    }

    .timeline-nodes:nth-child(even) {
        flex-direction: row;
    }

    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 4%;
        width: 0;
        border-left: 2px dashed black;
        height: 100%;
        z-index: 1;
        transform: translateX(-50%);
    }
    
    .home-timeline-container .timeline::before {
        visibility: hidden;
    }
    

    .hp_div_timeline .timeline-nodes:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        left: auto;
        right: 100%;
        width: 0;
        border-left: 0;
        border-right: 20px solid var(--darkgreen);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .hp_div_timeline .timeline-nodes:nth-child(even) .timeline-content::after {
        content: "";
        position: absolute;
        top: 5%;
        right: 100%;
        width: 0;
        border-right: 20px solid var(--darkgreen);
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .timeline-nodes:nth-child(even) .timeline-date {
        text-align: left;
    }

    .personal-right p {
        text-align: left;
    }

    .milestone-line-left {
        transform: rotateY(180deg);
    }

    .mile-stone-popup {
        width: 80%;
        margin: auto 0;
    }

    .index_div {
        display: none;
    }

    .outline {
        display: grid;
        grid-template-columns: 1fr;
    }

    .content-layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .layout {
        display: grid;
        grid-template-columns: 1fr;
    }

    .home-aav {
        margin-top: 0px;
    }

    .home-treatment {
        margin-top: 0;
    }

    .home-solution {
        margin-top: 0;
    }
    
    .home-selling-points{
        margin-top: 0;
    }

    .home-middle-col {
        left:8%
    }

    .c-homepage-image{
        left:8%;
    }

    .education-bottom-header{
        margin-top: -17px;
    }
    
    .award-title-container{
        height: 50px;
    }
    
    .award-title{
        font-size: 170%
    }
    
    .title-line{
        height: 3px;
    }
    
    .special-award-container{
        margin: -5px
    }
    
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 3%;
        color: black;
    }
    
    .home-timeline-container .timeline::before {
        visibility: hidden;
    }
    

    .readmore-button-milestone {
        left: 120%;
    }

    .button-right {
        left: -150px;
    }

    .mile-stone-popup {
        width: 90%;
        margin: auto 0;
    }
    
    .model-c-container{
        flex-direction: column;
    }
}

.silver_hp_div:target {
    display: grid;
}

.home-header-wrap {
    display: flex;
    justify-content: center;
}

.home-header {
    width: 60%;
    border-bottom: 4px solid white;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
}



.home-intro-text {
    padding: 0 10% 10px 10%;
    text-align: center;
}

.home-text-circles-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.home-text-circles-container {
    width: 1200px;
}

.home-text-circles {
    display: flex;
    flex-direction: row;
}

.home-circle {
    min-width: 250px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    padding:12px;
    padding-bottom: 50px;
    transition: 0.2s
}

.home-circle:hover {
    scale:1.1;
}

@media (min-width: 1160px) {
    .home-text-circles-container {
        width: 1200px;
        overflow: auto;
        display: flex;
        justify-content: center;
    }
}

.home-circle h3 {
    font-size: 110%;
}

.home-circle p {
    font-size: 75%
}

.home-circle img {
    width: 40px;
    height: 40px;
}

#home-hp-circle {
    background-color: #F7B32B;
}

#home-ent-circle {
    background-color: #139B69;
}

#home-ce-circle {
    background-color: #445E93;
}

#home-part-circle {
    background-color: #F7B32B;
}

    .popup .content {
        display: flex;
        flex-direction: column;
    }

    .two-col{
        column-count:1;
    }


@media (max-width: 475px) {
    .milestone-content-container{
        width: 160px;
        height: 160px;
    }
    
    .special-award-container{
        margin: 10px;
    }


    
}

.wbold {
    font-weight: bold;
    color: var(--white);
    text-decoration: underline;
}

.wbold:hover {
    color: var(--darkgreen);
    cursor:pointer;
}
