body{
  width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 80%;
  position: relative;
}
.timeline__content{
  width: 65%;
  margin: 0 5px;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 24px;
  font-weight: 700;
  /* margin: -10px 0 0 0; */
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  color: #ffffff;
  z-index: 9999;
  /* background-color: rgba(255, 249, 249, 0.495);
  border-radius: 20px;
  padding: 2px 10px */
}
.timeline__content-desc {
  margin: 0;
  font-size: 14px;

}
#timeline-1 > div.timeline > div.timeline-item.timeline-item--active > div > p:nth-child(4){
  font-weight: 400;
  font-size: 18px;
  color:#003F84;
}
.timeline__content p{
  margin-left: 10px;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 5px;
  height: 100%;
  margin-left: -1px;
  content: "";
  background: rgb(0, 179, 255);
}
@media only screen and (max-width: 767px) {
  .timeline:before {
    left: 40px;
  }
}
.timeline-item {
  padding: 0px 0px;
  opacity: 0.3;
  filter: blur(2px);
  transition: 0.5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
  transform: translateY(-80px);
  margin: 10px 0;
}
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  color: rgb(0, 102, 255);
  font-size: 12px;
  /* font-family: 'Pathway Gothic One', sans-serif; */
  border-left: 5px solid rgb(0, 106, 255);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
  margin-right: -3px;
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 5px solid rgb(0, 106, 255);
  /* border-image: url("./img/HP/water_arrow.svg") 10/2%/0%; */
  padding-right: 15px!important;
  z-index: 1;
}
.timeline-item:nth-child(even) .timeline__content{
  margin-left: 185px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: 0.3s all 0.2s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: 10px 0 10px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}
.timeline__content:nth-child(2n){
  float: right!important;
}
.timeline_img{
  /* height:232.5px; */
  position: absolute;
  width:100%;
  border-radius:20px;
  z-index: -1;
  top: 0;
  left: 0;

}
.timeline__img {
  max-width: 100%;
  cursor: pointer;
  z-index: -1;
  /* filter:drop-shadow(10px 10px 5px rgba(52, 52, 53, 0.4)) ; /*内部阴影 */
}
/* .timeline__img:hover{
  transform:scale(1.2);
  transition: all 0.2s ease-in-out;
} */
/* .timeline_img:hover{
  height: 232.5px;
  overflow: hidden !important;
  border: 20px;
  filter:drop-shadow(10px 10px 5px rgba(0, 145, 255, 0.4)) ; /*内部阴影
} */
.timeline-container {
  width: 100%;
  position: relative;
  padding: 80px 0;
  transition: 0.3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0,0,0,0.6); */
  content: "";
}
.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}

.modal-open {
   overflow: hidden
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  overflow-y: auto;
  z-index: 1050;
  display: none;
  outline: 0;
  background-color: #fff;
  border-radius: 5px;
  width: 60%;
  height: 600px;
  border-radius: 5px;
  padding: 10px;
  border:4px solid #0ca2ff;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none
}

.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out,-webkit-transform .3s ease-out;
  -webkit-transform: translate(0,-25%);
  transform: translate(0,-25%)
}

.modal.show .modal-dialog {
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2))
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0,0,0,.2); */
  border-radius: .3rem;
  outline: 0
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  opacity: 0
}

.modal-backdrop.show {
  opacity: .5
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem
}

.modal-footer>:not(:last-child) {
  margin-right: .25rem
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}
.close{
float: right;
font-size: 1.5rem;
font-weight: 700;
line-height: 0.6;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: .5;
background-color: #fff;
border: 1px solid #fff;
cursor: pointer;
}
.btn{
color: #fff;
background-color: #dc3545;
border-color: #dc3545;
display: inline-block;
font-weight: 400;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
cursor: pointer;
}



.hp-p-purpose,.hp-p-Method,.hp-p-Contribution,.hp-p-Outlook{
  color: #b97500;
  margin: 10px 0;
  font-weight: 700;
  font-size:24px;
}
.hp-p-purpose::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
.hp-p-Method::before {  
  content: url('method.svg')!important;   
  margin-right: 2px;
}
.hp-p-Contribution::before {  
  content: url('contribution.svg')!important;   
  margin-right: 2px;
}
.hp-p-Outlook::before {  
  content: url('outlook.svg')!important;   
  margin-right: 2px;
}
/* .modal-body p::before {  
  content: "  ";  
} */
.mileston{
  width:200px;
  margin: 0 auto;
  margin-top: 100px;
}
.mileston img{
  width:100%;
}
/*mileston*/
hp-p-Description,hp-p-Feelings,hp-p-Analysis,hp-p-Conclusion,hp-p-Action_Plan{
  color: #149950;
  margin: 10px 0;
  font-weight: 700;
  font-size:24px;
}
hp-p-Description::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
hp-p-Feelings::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
hp-p-Analysis::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
hp-p-Conclusion::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
hp-p-Action_Plan::before {  
  content: url('purpose.svg')!important;   
  margin-right: 2px;
}
