{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block lead %}<b>Welcome to iGEM 2023!</b> Your team has been approved and you are ready to start the iGEM season!{% endblock %}

{% block page_content %}
<!-- home section starts -->
<section class="home" id="home">
    <div class="bg-container">
        <img src="https://static.igem.wiki/teams/4927/wiki/home/background1.jpg" alt="figure"/>
    </div>
    <a href="#home-arrow">
        <div class="miso_scorll">
            <div class="ico">
                <img src="https://static.igem.wiki/teams/4927/wiki/home/home-arrow.svg" alt="">
            </div>
        </div>
    </a>

</section>
<!-- home section ends -->

<!-- page content starts-->
<section class="content-introduction">
    <h1 class="heading" id="home-arrow">
        <span>I</span>
        <span>n</span>
        <span>t</span>
        <span>r</span>
        <span>o</span>
        <span>d</span>
        <span>u</span>
        <span>c</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
    </h1>
    <div class="introduction">
        <div class="introduction_character">
            <h4>The Excessive Use Of Chemical Fertilizers Has Caused Many Environmental Problems</h4>
        </div>
        <div class="introduction_character">
            <h4 style="text-align:right;">In 2020 the global use offertilizers reached <br><b style="color: #ff8e3a;font-size:30px;">192 milliontons</b>tons</h4>
        </div>
    </div>
    <div class="introduction">
        <div class="introduction_character">
            <h4>Population Growth</h4>
            <p>In the mid-19th century, the global population grew at a high speed, from <b style="color: #ff8e3a;">2.52 billion</b> in 1950 to <b style="color: #ff8e3a;">7.79 billion</b> in 2020.</p>
        </div>
        <div class="introduction_figure">
            <img src="{{ url_for('static', filename = 'img/home/population.svg') }}" alt="figure"/>
        </div>
    </div>
    <div class="introduction">
        <div class="introduction_figure">
            <img src="{{ url_for('static', filename = 'img/home/food.svg') }}" alt="figure"/>
        </div>
        <div class="introduction_character">
            <h4 style="text-align:right;">Great Thirst for Food</h4>
            <p style="text-align:right;">In order to meet the growing demand for food, the fertilizer industry has rapidly developed and the usage of global fertilizer has significantly raised. </p>
        </div>

    </div>
    <div class="introduction">
        <div class="introduction_character">
            <h4>Environmental issues that arise</h4>
            <p>For example: soil hardening,reduced soil enzyme activity, soil acidification,destruction ofsoil biological structure, etc
            <br><b style="color: #ff8e3a; font-size: 20px;">Therefore, coming up with some effective solutions to reduce the usage of fertilizer is particularly important for the sustainable development of agriculture.</b></p>
        </div>
        <div class="introduction_figure">
            <img src="{{ url_for('static', filename = 'img/home/Environment.svg') }}" alt="figure"/>
        </div>
    </div>
    <div class="introduction">
        <div class="introduction_figure">
            
        </div>
        <div class="introduction_character">
            <h4 style="text-align:right;">New Discoveries</h4>
            <h3 style="text-align:right;">- H2</h3>
            <p style="text-align:right;">It has been shown that the increase of hydrogen gas in rhizosphere has a positive impact on plant growth and the produce of hydrogen may be related to plant stress resistance.</p>
        </div>

    </div>
    <div class="introduction">
        <div class="introduction_character">
            <p><b style="color: #4154CD; font-size: 20px;">According to this, the means of developing the agricultural sustainably has been enriched, such as increasing the content of hydrogen in soil and reducing the use of fertilizers.</b></p>            
        </div>
        <div class="introduction_figure">
            
        </div>
    </div>
    <div class="introduction">
        <div class="introduction_figure">
            <img src="{{ url_for('static', filename = 'img/home/problem.svg') }}" alt="figure"/>
        </div>
        <div class="introduction_character">
            <h4 style="text-align:right;">Existing Problems</h4>
            <p style="text-align:right;">Due to unstable chemical properties, It is difficult to store and transport hydrogen gas, and it is also not convenient to use hydrogen gas directly.</p>
        </div>

    </div>
    <!--plan-->
    <div class="introduction">
        <div class="introduction_character">
            <h4 style="color:#EA5D70;">Our plan</h4>
            <p style="color: #5FCAC8;">The team decides to produce hydrogen rich water in a green way of Synthetic biology, which effectively solved this problem.</p>
        </div>
        <div class="introduction_figure">
            
        </div>
    </div>
    <div class="plan_con">
        <div class="introduction" id="plan_con">
            <div class="introduction_plan">
                <div class="plan_figure">
                    <img src="https://static.igem.wiki/teams/4927/wiki/home/process-1.png" alt="figure"/>
                </div>
                <div class="plan_character">
                    <p>With the effect of <b style="color: #ff8e3a;">ADH,FALDH and FDH</b>, methanol can be decomposed into carbon dioxide and convert NAD+ into NADH. Then, <b style="color: #ff8e3a;">HydABC</b> utilizes NADH to produce hydrogen and achieve the regeneration of NAD+. </p>
                </div>
            </div>
        </div>
        <div class="introduction" id="plan_con">
            <div class="introduction_plan">
                <div class="plan_figure">
                    <img src="https://static.igem.wiki/teams/4927/wiki/home/process-2.png" alt="figure"/>
                </div>
                <div class="plan_character">
                    <p>With the four enzymes coupled through protein scaffolds to improve hydrogen production efficiency, it becomes practical to produce hydrogen rich water in a green and efficient way in a liquid phase system.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="introduction">
        <div class="introduction_character">
            <p>Want to know more about the details? Just click on the link below and take a look!</>
        </div>
        <div class="introduction_figure" id="mei">
            <img src="{{ url_for('static', filename = 'img/home/酶树.svg') }}" alt="figure"/>
        </div>
    </div>
</section>
<!-- page content end  -->

<!--link page starts-->
<section class="links">
    <h1 class="heading">
        <span>L</span>
        <span>I</span>
        <span>N</span>
        <span>K</span>
        <span>S</span>
    </h1>
    <div class="box-container">
        <div class="box">
            <img src="{{ url_for('static', filename = 'img/pet/ADH.svg') }}"/>
            <h3>affordable hotels</h3>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename = 'img/pet/FALDH.svg') }}"/>
            <h3>food and drinks</h3>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename = 'img/pet/FDH.svg') }}"/>
            <h3>safty guide</h3>
        </div>
        <div class="box">
            <img src="{{ url_for('static', filename = 'img/pet/HydABC.svg') }}"/>
            <h3>around the world</h3>
        </div>
    </div>
</section>
<!--link page ends-->
<!--vedio-->
<section class="vedio">
    <h1 class="heading">
        <span>V</span>
        <span>E</span>
        <span>D</span>
        <span>I</span>
        <span>O</span>
    </h1>
    <div id="video">
        <div>
            <video controls>
                <source src="https://video.igem.org/w/iVfbHmCb45yV2gWX3wsMYN" type="video/mp4">
            </video>
        </div>
    </div>
</section>

{% endblock %}
